body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  /* fondo imagen bosque */
  background: 
    linear-gradient(
      rgba(11,18,32,0.30),   /* ⬅️ lámina bajada 50% */
      rgba(11,18,32,0.30)
    ),
    url("assets-b2/fondo-bosque.jpg") center / cover no-repeat fixed;

  color: #eafff9;
}
